.dice {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 56px;
}

@media (prefers-reduced-motion: no-preference) {
  .rolling {
    animation: dice-roll infinite 0.5s linear;
  }
}

@keyframes dice-roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red {
  color: red;
  font-size: 40px;
}

.blue {
  color: dodgerblue;
    font-size: 40px;
}
